### AL ###
# قالب لمشاريع AL في Dynamics 365 Business Central

# مجلد إعدادات الإطلاق
.vscode/
# يحتوي على إعدادات محرر التعليمات البرمجية (Visual Studio Code) الخاصة بالمشروع.

# مجلد التخزين المؤقت
.alcache/
# يحتوي على الملفات المؤقتة التي تُستخدم لتحسين الأداء أثناء التطوير.

# مجلد الرموز
.alpackages/
# يحتوي على حزم الرموز المستخدمة في المشروع، مثل مكتبات AL والاعتمادات.

# مجلد اللقطات
.snapshots/
# يحتوي على لقطات المشروع، مما يساعد في تتبع التغييرات على مر الزمن.

# مجلد نتائج الاختبار
.output/
# يحتوي على نتائج الاختبارات التي تم تشغيلها، مثل تقارير الاختبارات.

# ملف تطبيق الإضافة
*.app
# يُستخدم لتجاهل جميع ملفات التطبيق التي تُستخدم في الإضافات.

# ملف تطوير التطبيقات السريعة
rad.json
# يحتوي على معلومات حول تطوير التطبيقات السريعة في المشروع.

# ملف قاعدة الترجمة
*.g.xlf
# يُستخدم لتجاهل ملفات الترجمة التي تُستخدم في ترجمة التطبيق إلى لغات متعددة.

# ملف الترخيص
*.flf
# يُستخدم لتجاهل ملفات الترخيص التي تُستخدم لتحديد حقوق الاستخدام.

# ملف نتائج الاختبار
TestResults.xml
# يحتوي على نتائج اختبارات المشروع، يُفضل عدم تتبعه في Git.
